<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost?</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1, img, form{
            padding-top: 30px;
        }
    </style>
</head>

<body>
    <br>
    <div>
        <h1>404 Lost, want a lift?</h1>
        <img src="/lost.jpg" alt="Lost xd" height="400px" width="400px">
            <form action="/" method="get">
                <button type="submit" class="submit-btn">Home</button>
            </form>
    </div>
</body>

</html>