body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("img.jpg");
  background-size: cover;
}

h1,
h3 {
  text-align: center;
  margin-top: 20px;
  color: #ff9800;
}

h3 {
  padding-top: calc(5%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

li:hover {
  background-color: #f0f0f034;
  transform: translateY(-50px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #333;
  display: block;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10% 0 5%;
}

.video-item {
  width: calc(75%);
  margin: 50px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(218, 165, 32, 0.356);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.video-item:hover {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(-5px);
}

.video-link {
  text-decoration: none;
  color: #333;
}

.video-info {
  margin-top: 10px;
}

.video-info strong {
  font-weight: bold;
  color: #555;
}

@media screen and (max-width: 768px) {
  .video-item {
    width: calc(50% - 20px);
  }
}
