body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4;  */
  font-family: Arial, sans-serif;
  background-image: url("img1.jpg");
  background-size: cover;
}

h1, h3 {
  text-align: center;
  margin-top: 20px;
  /* color: #333; */
  color: #FF9800;
}

h3{
  padding-top: calc(5%);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

li:hover {
  background-color: #f0f0f034;
  transform: translateY(-50px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}


a {
  text-decoration: none;
  color: #333;
  display: block; 
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10% 0 5%;
}

.video-item {
  width: calc(75%);
  margin: 50px;
  padding: 30px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.6;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.video-item:hover {
  background-color: #f0f0f0;
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.video-link {
  text-decoration: none;
  color: #333;
}

.video-info {
  margin-top: 10px;
}

.video-info strong {
  font-weight: bold;
  color: #555;
}

@media screen and (max-width: 768px) {
  .video-item {
    width: calc(50% - 20px);
  }
}
