* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: goldenrod;
  font-family: Arial, sans-serif;
  background-image: url("img.jpg");
  background-size: cover;
  font-size: 15px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #474b4f;
  border-radius: 15px; 
  background-color: #474b4f; 
  z-index: 2;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #474b4f;
  border-radius: 3px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: goldenrod;
  color: black; 
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #b8860b;
  color: #fff;
}

p {
  margin-top: 15px;
}
